.title {
  &__background {
    display: inline-block;
    background-color: #ceb888;
    width: 15rem;
    padding: 1rem;
    margin: 1rem;
    margin-right: 6rem;
    box-shadow: 8px 8px 0px white;
    border: none;

    &:hover {
      background-color: #b49553;
    }
  }

  &__text {
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    margin: 0;
  }
}
