.random-navigation {
  background-image: url("../../assets/Section-Hero.jpeg");
  width: 100vw;
  height: 20rem;
  background-position: center;
  background-size: cover;
}

.go-random-contatiner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 4rem 5rem;
}

.home-button {
  width: 3rem;
  margin-left: 2rem;
  margin-top: 2rem;
}
