.home-background {
  width: 100vw;
  height: 900px;
  background-image: url("../../assets/Home-page-background.jpeg");
  position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
}

.home-title {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 15rem;
}
